INDUBITABLY_ADMIN_TOKEN=replace-with-at-least-24-random-characters
INDUBITABLY_HOST=127.0.0.1
INDUBITABLY_PORT=8787
INDUBITABLY_DATA_DIR=./data
INDUBITABLY_VALIDATOR_WORKSPACE_ROOT=./validator-workspaces
INDUBITABLY_MAX_BODY_BYTES=16777216
INDUBITABLY_MAX_ARTIFACT_BYTES=10485760
